.cartContainer {
  background: linear-gradient(180deg, #eeeeee, #f7f7f7);
}
.increamentBtn {
  box-shadow: 0px 1px 4px #ccc9c9;
}
.cartProuductTitle {
  font-size: 13px;
}
.checkoutBtn {
  opacity: 0.9;
  font-size: 13px;
}
.productContainer {
  margin: 3px;
}
