.productContainer {
  grid-template-columns: repeat(auto-fit, 10rem);
}
.likedProduct {
  margin-top: 1px;
}
.product {
  width: 10rem;
  transition: all 0.4s ease-in-out;
  min-height: 15rem;
}
.product:hover {
  width: 10.2rem;
  background-color: rgb(178, 178, 178);
}
.imageContainer {
  height: 5rem;
  width: 8.5rem;
}
